<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load django_bootstrap5 %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% comment %} <link rel="stylesheet" href="static/style.css"> {% endcomment %}
    {% bootstrap_css %}
</head>
<body>

    <a href="/">Home</a>
    <a href="contact">Contact</a>
    <a href="about">About</a>

    {% block main %}
    {% endblock %}

    <a href="faq">FAQ</a>
    <a href="news">News</a>
    
</body>
</html>